# Copyright 2017 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See RefsCfg message in
# http://luci-config.appspot.com/schemas/projects:refs.cfg for the
# documentation of this file format.

refs {
  # Map 'refs/heads/master' ref of this project to this directory.
  # This works because this directory is on the master branch too.
  name: "refs/heads/master"
  config_path: "repositories/bluetooth"
}

