# Copyright 2017 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Defines cron jobs on luci-scheduler-dev.appspot.com.

# Keep builders sorted by id.

acl_sets {
  name: "default"
  acls {
    role: READER
    granted_to: "group:all"
  }
  acls {
    role: OWNER
    granted_to: "group:project-fuchsia-admins"
  }
}

trigger {
  id: "zircon-gitiles-trigger"
  acl_sets: "default"
  gitiles: {
    repo: "https://fuchsia.googlesource.com/zircon"
    refs: "refs/heads/master"
  }
  triggers: "zircon-pc-x86-64-clang"
  triggers: "zircon-qemu-arm64-clang"
}

job {
  id: "fuchsia-aarch64-linux-debug"
  acl_sets: "default"
  schedule: "continuously"
  buildbucket: {
    server: "https://cr-buildbucket-dev.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-aarch64-linux-debug"
  }
}

job {
  id: "fuchsia-aarch64-linux-release"
  acl_sets: "default"
  schedule: "continuously"
  buildbucket: {
    server: "https://cr-buildbucket-dev.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-aarch64-linux-release"
  }
}

job {
  id: "fuchsia-x86_64-linux-debug"
  acl_sets: "default"
  schedule: "continuously"
  buildbucket: {
    server: "https://cr-buildbucket-dev.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-x86_64-linux-debug"
  }
}

job {
  id: "fuchsia-x86_64-linux-release"
  acl_sets: "default"
  schedule: "continuously"
  buildbucket: {
    server: "https://cr-buildbucket-dev.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-x86_64-linux-release"
  }
}

job {
  id: "zircon-pc-x86-64-clang"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket-dev.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-pc-x86-64-clang"
  }
}

job {
  id: "zircon-qemu-arm64-clang"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket-dev.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-qemu-arm64-clang"
  }
}
