# Copyright 2017 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Defines cron jobs on luci-scheduler.appspot.com.
#
# See http://luci-config.appspot.com/schemas/projects:cron.cfg for
# schema of this file and documentation.

# Keep builders sorted by id.

acl_sets {
  name: "default"
  acls {
    role: READER
    granted_to: "group:all"
  }
  acls {
    role: OWNER
    granted_to: "group:project-fuchsia-admins"
  }
}

trigger {
  id: "cobalt-gitiles-trigger"
  acl_sets: "default"
  gitiles: {
    repo: "https://fuchsia.googlesource.com/cobalt"
    refs: "refs/heads/master"
  }
  triggers: "cobalt-x86_64-linux"
}

trigger {
  id: "garnet-gitiles-trigger"
  acl_sets: "default"
  gitiles: {
    repo: "https://fuchsia.googlesource.com/garnet"
    refs: "refs/heads/master"
  }
  triggers: "garnet-aarch64-linux-debug"
  triggers: "garnet-aarch64-linux-release"
  triggers: "garnet-x86_64-linux-debug"
  triggers: "garnet-x86_64-linux-release"
}

trigger {
  id: "go-gitiles-trigger"
  acl_sets: "default"
  gitiles: {
    repo: "https://fuchsia.googlesource.com/third_party/go"
    refs: "refs/heads/master"
  }
  triggers: "go-x86_64-linux"
  triggers: "go-x86_64-mac"
}

trigger {
  id: "jiri-gitiles-trigger"
  acl_sets: "default"
  gitiles: {
    repo: "https://fuchsia.googlesource.com/jiri"
    refs: "refs/heads/master"
  }
  triggers: "jiri-x86_64-linux"
  triggers: "jiri-x86_64-mac"
}

trigger {
  id: "web_view-gitiles-trigger"
  acl_sets: "default"
  gitiles: {
    repo: "https://fuchsia.googlesource.com/third_party/webkit"
    refs: "refs/heads/master"
  }
  triggers: "web_view-aarch64-linux"
  triggers: "web_view-x86_64-linux"
}

trigger {
  id: "peridot-gitiles-trigger"
  acl_sets: "default"
  gitiles: {
    repo: "https://fuchsia.googlesource.com/peridot"
    refs: "refs/heads/master"
  }
  triggers: "peridot-aarch64-linux-debug"
  triggers: "peridot-aarch64-linux-release"
  triggers: "peridot-x86_64-linux-debug"
  triggers: "peridot-x86_64-linux-release"
}

trigger {
  id: "zircon-gitiles-trigger"
  acl_sets: "default"
  gitiles: {
    repo: "https://fuchsia.googlesource.com/zircon"
    refs: "refs/heads/master"
  }
  triggers: "zircon-qemu-arm64-asan"
  triggers: "zircon-qemu-arm64-clang"
  triggers: "zircon-qemu-arm64-gcc"
  triggers: "zircon-qemu-arm64-lto"
  triggers: "zircon-qemu-arm64-thinlto"
  triggers: "zircon-hikey960-arm64-clang"
  triggers: "zircon-hikey960-arm64-gcc"
  triggers: "zircon-rpi3-arm64-clang"
  triggers: "zircon-rpi3-arm64-gcc"
  triggers: "zircon-pc-x86-64-asan"
  triggers: "zircon-pc-x86-64-clang"
  triggers: "zircon-pc-x86-64-gcc"
  triggers: "zircon-pc-x86-64-lto"
  triggers: "zircon-pc-x86-64-thinlto"
}

job {
  id: "clang-x86_64-linux"
  acl_sets: "default"
  schedule: "with 24h interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "clang-x86_64-linux"
  }
}

job {
  id: "clang-x86_64-mac"
  acl_sets: "default"
  schedule: "with 24h interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "clang-x86_64-mac"
  }
}

job {
  id: "cobalt-x86_64-linux"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "cobalt-x86_64-linux"
  }
}

job {
  id: "drivers-aarch64-linux-debug"
  acl_sets: "default"
  schedule: "with 10m interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "drivers-aarch64-linux-debug"
  }
}

job {
  id: "drivers-aarch64-linux-release"
  acl_sets: "default"
  schedule: "with 10m interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "drivers-aarch64-linux-release"
  }
}

job {
  id: "drivers-x86_64-linux-debug"
  acl_sets: "default"
  schedule: "with 10m interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "drivers-x86_64-linux-debug"
  }
}

job {
  id: "drivers-x86_64-linux-release"
  acl_sets: "default"
  schedule: "with 10m interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "drivers-x86_64-linux-release"
  }
}

job {
  id: "jiri-x86_64-linux"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "jiri-x86_64-linux"
  }
}

job {
  id: "jiri-x86_64-mac"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "jiri-x86_64-mac"
  }
}

job {
  id: "fuchsia-aarch64-linux-debug"
  acl_sets: "default"
  schedule: "continuously"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-aarch64-linux-debug"
  }
}

job {
  id: "fuchsia-aarch64-linux-lto"
  acl_sets: "default"
  schedule: "continuously"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-aarch64-linux-lto"
  }
}

job {
  id: "fuchsia-aarch64-linux-release"
  acl_sets: "default"
  schedule: "continuously"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-aarch64-linux-release"
  }
}

job {
  id: "fuchsia-aarch64-linux-thinlto"
  acl_sets: "default"
  schedule: "continuously"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-aarch64-linux-thinlto"
  }
}

job {
  id: "fuchsia-aarch64-mac-debug"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-aarch64-mac-debug"
  }
}

job {
  id: "fuchsia-x86_64-linux-debug"
  acl_sets: "default"
  schedule: "continuously"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-x86_64-linux-debug"
  }
}

job {
  id: "fuchsia-x86_64-linux-lto"
  acl_sets: "default"
  schedule: "continuously"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-x86_64-linux-lto"
  }
}

job {
  id: "fuchsia-x86_64-linux-release"
  acl_sets: "default"
  schedule: "continuously"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-x86_64-linux-release"
  }
}

job {
  id: "fuchsia-x86_64-linux-thinlto"
  acl_sets: "default"
  schedule: "continuously"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-x86_64-linux-thinlto"
  }
}

job {
  id: "fuchsia-x86_64-linux-perf"
  acl_sets: "default"
  schedule: "with 30m interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.perf"
    builder: "fuchsia-x86_64-linux-perf"
  }
}

job {
  id: "fuchsia-x86_64-mac-debug"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-x86_64-mac-debug"
  }
}

job {
  id: "sdk-x86_64-linux"
  acl_sets: "default"
  schedule: "with 1h interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "sdk-x86_64-linux"
  }
}

job {
  id: "garnet-aarch64-linux-debug"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "garnet-aarch64-linux-debug"
  }
}

job {
  id: "garnet-aarch64-linux-release"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "garnet-aarch64-linux-release"
  }
}

job {
  id: "garnet-x86_64-linux-debug"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "garnet-x86_64-linux-debug"
  }
}

job {
  id: "garnet-x86_64-linux-release"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "garnet-x86_64-linux-release"
  }
}

job {
  id: "go-x86_64-linux"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "go-x86_64-linux"
  }
}

job {
  id: "go-x86_64-mac"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "go-x86_64-mac"
  }
}

job {
  id: "modular-aarch64-linux-debug"
  acl_sets: "default"
  schedule: "with 10m interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "modular-aarch64-linux-debug"
  }
}

job {
  id: "modular-x86_64-linux-debug"
  acl_sets: "default"
  schedule: "with 10m interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "modular-x86_64-linux-debug"
  }
}

job {
  id: "peridot-aarch64-linux-debug"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "peridot-aarch64-linux-debug"
  }
}

job {
  id: "peridot-aarch64-linux-release"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "peridot-aarch64-linux-release"
  }
}

job {
  id: "peridot-x86_64-linux-debug"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "peridot-x86_64-linux-debug"
  }
}

job {
  id: "peridot-x86_64-linux-release"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "peridot-x86_64-linux-release"
  }
}

job {
  id: "qemu-x86_64-linux"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "qemu-x86_64-linux"
  }
}

job {
  id: "qemu-x86_64-mac"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "qemu-x86_64-mac"
  }
}

job {
  id: "rust-x86_64-linux"
  acl_sets: "default"
  schedule: "with 24h interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "rust-x86_64-linux"
  }
}

job {
  id: "rust-x86_64-mac"
  acl_sets: "default"
  schedule: "with 24h interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "rust-x86_64-mac"
  }
}

job {
  id: "topaz-aarch64-linux-debug"
  acl_sets: "default"
  schedule: "with 10m interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "topaz-aarch64-linux-debug"
  }
}

job {
  id: "topaz-aarch64-linux-release"
  acl_sets: "default"
  schedule: "with 10m interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "topaz-aarch64-linux-release"
  }
}

job {
  id: "topaz-x86_64-linux-debug"
  acl_sets: "default"
  schedule: "with 10m interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "topaz-x86_64-linux-debug"
  }
}

job {
  id: "topaz-x86_64-linux-release"
  acl_sets: "default"
  schedule: "with 10m interval"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "topaz-x86_64-linux-release"
  }
}

job {
  id: "web_view-aarch64-linux"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "web_view-aarch64-linux"
  }
}

job {
  id: "web_view-x86_64-linux"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "web_view-x86_64-linux"
  }
}

job {
  id: "zircon-qemu-arm64-asan"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-qemu-arm64-asan"
  }
}

job {
  id: "zircon-qemu-arm64-clang"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-qemu-arm64-clang"
  }
}

job {
  id: "zircon-qemu-arm64-gcc"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-qemu-arm64-gcc"
  }
}

job {
  id: "zircon-qemu-arm64-lto"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-qemu-arm64-lto"
  }
}

job {
  id: "zircon-qemu-arm64-thinlto"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-qemu-arm64-thinlto"
  }
}

job {
  id: "zircon-hikey960-arm64-clang"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-hikey960-arm64-clang"
  }
}

job {
  id: "zircon-hikey960-arm64-gcc"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-hikey960-arm64-gcc"
  }
}

job {
  id: "zircon-rpi3-arm64-clang"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-rpi3-arm64-clang"
  }
}

job {
  id: "zircon-rpi3-arm64-gcc"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-rpi3-arm64-gcc"
  }
}

job {
  id: "zircon-pc-x86-64-asan"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-pc-x86-64-asan"
  }
}

job {
  id: "zircon-pc-x86-64-clang"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-pc-x86-64-clang"
  }
}

job {
  id: "zircon-pc-x86-64-gcc"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-pc-x86-64-gcc"
  }
}

job {
  id: "zircon-pc-x86-64-lto"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-pc-x86-64-lto"
  }
}

job {
  id: "zircon-pc-x86-64-thinlto"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "https://cr-buildbucket.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "zircon-pc-x86-64-thinlto"
  }
}
