# Copyright 2017 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Defines cron jobs on luci-scheduler-dev.appspot.com.

# Keep builders sorted by id.

acl_sets {
  name: "default"
  acls {
    role: READER
    granted_to: "group:all"
  }
  acls {
    role: OWNER
    granted_to: "group:project-fuchsia-admins"
  }
}

job {
  id: "fuchsia-aarch64-linux"
  acl_sets: "default"
  schedule: "with 10m interval"
  buildbucket: {
    server: "https://cr-buildbucket-dev.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-aarch64-linux"
  }
}

job {
  id: "fuchsia-x86_64-linux"
  acl_sets: "default"
  schedule: "with 10m interval"
  buildbucket: {
    server: "https://cr-buildbucket-dev.appspot.com"
    bucket: "luci.fuchsia.continuous"
    builder: "fuchsia-x86_64-linux"
  }
}
