# Copyright 2017 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Defines notifiers on luci-notify-dev.appspot.com.

# Please keep this list sorted by name.

notifiers {
    name: "fuchsia-zircon"
    notifications {
        on_change: true
        on_success: false
        on_failure: true
        email {
            recipients: "mknyszek@google.com"
        }
    }
    notifications {
        on_change: true
        on_success: false
        on_failure: false
        email {
            recipients: "phosek@google.com"
        }
    }
    builders {
        name: "buildbucket/luci.fuchsia.continuous/zircon-pc-x86-64-clang"
    }
    builders {
        name: "buildbucket/luci.fuchsia.continuous/zircon-qemu-arm64-clang"
    }
}
