# Copyright 2017 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Defines notifiers on luci-notify-dev.appspot.com.

# Please keep this list sorted by name.

Notifiers {
    Name: "fuchsia-zircon"
    Notifications {
        OnChange: true
        OnSuccess: false
        OnFailure: true
        Email {
            Recipients: "mknyszek@google.com"
        }
    }
    Notifications {
        OnChange: true
        OnSuccess: false
        OnFailure: false
        Email {
            Recipients: "phosek@google.com"
        }
    }
    Builders {
        Bucket: "luci.fuchsia.continuous"
        Name: "zircon-pc-x86-64-clang"
    }
    Builders {
        Bucket: "luci.fuchsia.continuous"
        Name: "zircon-qemu-arm64-clang"
    }
}
