# Copyright 2016 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See http://luci-config.appspot.com/schemas/projects/refs:cq.cfg for the
# documentation of this file format.

version: 1
cq_name: "fuchsia-magenta"
cq_status_url: "https://fuchsia-cq-status.appspot.com"
git_repo_url: "https://fuchsia.googlesource.com/magenta"

gerrit {}

verifiers {
  try_job {
    buckets {
      name: "luci.fuchsia.try"
      builders {
        name: "magenta-hikey960-arm64-clang"
      }
      builders {
        name: "magenta-hikey960-arm64-gcc"
      }
      builders {
        name: "magenta-qemu-arm64-clang"
      }
      builders {
        name: "magenta-qemu-arm64-gcc"
      }
      builders {
        name: "magenta-pc-x86-64-clang"
      }
      builders {
        name: "magenta-pc-x86-64-gcc"
      }
      builders {
        name: "magenta-pc-x86-64-test-clang"
      }
      builders {
        name: "magenta-pc-x86-64-test-gcc"
      }
      builders {
        name: "magenta-qemu-virt-a53-test-clang"
      }
      builders {
        name: "magenta-qemu-virt-a53-test-gcc"
      }
      builders {
        name: "magenta-rpi3-arm64-clang"
      }
      builders {
        name: "magenta-rpi3-arm64-gcc"
      }
    }
  }
  gerrit_cq_ability {
    committer_list: "project-fuchsia-committers"
    dry_run_access_list: "project-fuchsia-tryjob-access"
  }
  sign_cla {}
}
